<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		header
			h1 HELLO SERVER 
		main 

			table
				<tr>
					th Name
					th Age
					th
				for user in users
					tr
						td #{user.username}
						td #{user.password}
						td
							a(href="/edit/{{this.id}}") Edit
							form(action="delete/{{this.id}}" method="POST" style="display:inline;")
								input(type="submit" value="Delete") 
							
						
					
				
			
	</body>
</html>
