* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;

}

header {
    width: 100%;

    column-gap: 10px;
    padding: 30px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.searchLabel {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    position: relative;
}

.searchList {
    position: absolute;
    top: 105%;
    background: #FAFAFA;
    border: 1px solid #4b4949;
}

.searchSubmit {
    max-width: 50px;
    border: none;
    background: none;
}

.searchInput {
    border: none;
    outline: none;

}

h1 {
    margin-bottom: 30px;
}

input {
    width: 400px;
    height: 50px;
    padding: 10px;
}

label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.loginPage {
    display: none;
    flex-direction: column;
    row-gap: 20px;

    &.active {
        display: flex;
    }
}

.registerPage {
    display: none;
    flex-direction: column;
    row-gap: 20px;

    &.active {
        display: flex;
    }
}

.statisticsPage {
    display: none;
    width: 100%;
    flex-direction: column;
    row-gap: 20px;

    &.active {
        display: flex;
    }
}

.header {
    display: none;
    flex-direction: row;
    justify-content: space-between;

    &.active {
        display: flex;
    }
}

.statistic {
    border: 1px solid #000;
}

ul {

    display: flex;
    flex-direction: column;

    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 5px 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #000;
    }
}

.statisticHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        border-bottom: 1px solid #000;
    }
}

#squeezeForm {
    // display: flex;
    // column-gap: 10px;

    &>label {
        row-gap: 0;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
    }
}

.squeezeSubmit {
    max-width: 100px;
}

li>div {
    width: 30%;

    &:not(:first-child) {
        border-left: 1px solid #000;
    }
}

li>a {
    width: 30%;

    &:not(:first-child) {
        border-left: 1px solid #000;
    }
}


.statisticHeader>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    &:not(:first-child) {
        border-left: 1px solid #000;
    }
}

.sortBtn {
    display: none;

    &.active {
        display: block;
    }
}

.shortEl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyHint {
    position: absolute;
    transform: translate(-100%, -100%);
    background-color: #FFF;
    padding: 5px;
    z-index: 2;
    white-space: nowrap;
}

.linkHeader {
    width: 55%;

}

.shortHeader {
    width: 35%;
}

.counterHeader {
    width: 10%;
}

.linkEl {
    width: 55%;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortEl {
    width: 35%;
    padding: 10px 20px;
}

.counterEl {
    width: 10%;
    padding: 10px 20px;
}